@import "../../../helpers/map";
@import "../../../helpers/mixin";

.auth_login {
  @include flex_colum();
  align-items: center;

  .login_header {
    @include flex_colum(8px);
    align-items: center;
    img {
      width: 170px;
      height: auto;
    }
  }

  .login_footer {
    width: 100%;
    margin-bottom: 20px;
    .login_input {
        margin: 10px 0;
        @include flex_colum(12px);
    }
  }

  
}
