@import "../../helpers/mixin";
@import "../../helpers/map";

.header {
    @include flex(space-between,center);
    padding: 35px 0;

    .left_header {
        width: 109px;
        height: 18px;
    }

    .right_header {
        @include flex(space-between,center);
        gap: 15px;

        a {
            @include size_color(black, PD2-13,FW_H)
        }
        
        &:nth-child(2) a {
            @include flex($align: center);
            gap: 5px;
        }
    }
}