@import '../../helpers/map';
@import '../../helpers/mixin';

.category {
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
    
    @include flex(space-between,center);
    @include size_color(black,PD1-15,FW_M);
    .category_name {
        @include flex($align:center);
        gap: 5px;

        .icon svg{
            width: 20px;
            height: 20px;
        }
    }

    &:hover {
        color: map-get($colors,primary);
    }
}